src/test/resource/datapackage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Wed Nov 12 2014 08:43:46 
		GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="datapackage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="define">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="define-command" maxOccurs="unbounded"
								minOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
											<xs:attribute name="value" type="xs:string" use="required"></xs:attribute>
											<xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="command" maxOccurs="unbounded"
					minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="data" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="element" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
												<xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
									<xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
									<xs:attribute name="breakvalue" type="xs:string"
										use="optional"></xs:attribute>
									<xs:attribute name="continuevalue" type="xs:string"
										use="optional" default="n/a"></xs:attribute>
									<xs:attribute name="elementtype" type="xs:string"
										use="optional"></xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="value" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>